<div class="px-2 py-3">
  <div class="row">
    <app-custom-card header="Balance" [content]="balance" class="balance-card col-3"></app-custom-card>
    <app-custom-card header="Revenu" [content]="revenuTotal" class="revenu-card col-3"></app-custom-card>
    <app-custom-card header="Expense" [content]="expenseTotal" class="expense-card col-3"></app-custom-card>
    <app-custom-card header="Savings" [content]="savingsTotal" class="savings-card col-3"></app-custom-card>
  </div>
</div>
<div style="position:relative;display: flex;flex-direction: column">
  <i class="fas fa-plus add-transaction-button btn" (click)="onOpenAddTransaction()"></i>
  <app-custom-table style="margin-top: 70px" [transactions]="transactions"></app-custom-table>
</div>

