
<div style="padding: 0 70px">
  <div class="line">
    <div>
      <div>
        <input
          id="category"
          placeholder="Category"
          [(ngModel)]="transaction.category"/>
      </div>
    </div>
    <div>
      <input
        id="amount"
        placeholder="Amount"
        [(ngModel)]="transaction.amount"/>
    </div>
  </div>
  <div class="line">
    <input
      id="date"
      placeholder="Date"
      [(ngModel)]="transaction.date"/>
    <div>
      <select id="type" name="type" [(ngModel)]="transaction.type">
        <ng-container *ngFor="let type of transactionTypes">
          <option [value]="type">{{ type.name }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div style="margin-top: 20px; display: flex;justify-content: center">
    <button title="Save" (click)="onSave()"></button>
  </div>
</div>
