<div class="px-5">
  <div class="row header">
    <div class="col-3 header-item">
      <p>Category</p>
    </div>
    <div class="col-3 header-item">
      <p>Amount</p>
    </div>
    <div class="col-3 header-item">
      <p>Date</p>
    </div>
    <div class="col-3 text-center">
      <p>Type</p>
    </div>
  </div>
  <div class="row line" *ngFor="let transaction of transactions">
    <div class="col-3 line-item">
      <p>{{ transaction.category }}</p>
    </div>
    <div class="col-3 line-item">
      <p>{{ transaction.amount }}</p>
    </div>
    <div class="col-3 line-item">
      <p>{{ transaction.date | date:'short' }}</p>
    </div>
    <div class="col-3 text-center">
      <p>{{ transaction.type }}</p>
    </div>
  </div>
</div>
