<div class="pb-5 custom-table">
  <ng-template #tooltipInfo>
      <p>* Click on a transaction to update it</p>
      <p class="mb-0">* Double click on a transaction to delete it</p>
  </ng-template>
  <i class="fas fa-info-circle mr-5 mb-2 info-icon" [ngbTooltip]="tooltipInfo" container="body" placement="right" tooltipClass="custom-tooltip"></i>
  <div class="row header">
    <div class="col-3 header-item">
      <p>Category</p>
    </div>
    <div class="col-2 header-item">
      <p>Amount (DT)</p>
    </div>
    <div class="col-2 header-item">
      <p>Date</p>
    </div>
    <div class="col-2 header-item">
      <p>Type</p>
    </div>
    <div class="col-3 text-center">
      <p>Comment</p>
    </div>
  </div>
  <ng-container *ngFor="let transaction of transactions; index as i">
    <div class="row line" (dblclick)="onDeleteTransaction(content)" (click)="onClickEdit(updateContent, transaction)">
      <div class="col-3 line-item">
        <p>{{ transaction.category }}</p>
      </div>
      <div class="col-2 line-item">
        <p>{{ transaction.amount }}</p>
      </div>
      <div class="col-2 line-item">
        <p>{{ transaction.date | date:'dd-MM-YY' }}</p>
      </div>
      <div class="col-2 line-item type-container">
        <p [class]="getTypeColorClass(transaction.type)">{{ transaction.type | transactionTypeEnumToText }}</p>
      </div>
      <div class="col-3">
        <p>{{ transaction.comment }}</p>
      </div>
    </div>
    <ng-template #updateContent>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title3">Edit transaction</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" class="form-control customInput" id="category" [(ngModel)]="transactionUpdate.category">
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control customInput" id="amount" [(ngModel)]="transactionUpdate.amount">
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control customInput" id="date" [(ngModel)]="transactionUpdate.date">
        </div>
        <div class="form-group">
          <app-select-transaction-type [(ngModel)]="transactionUpdate.type"></app-select-transaction-type>
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control customInput" id="comment" name="comment" [(ngModel)]="transactionUpdate.comment"></textarea>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="onUpdateTransaction(transaction.id)">Save</button>
      </div>
      </div>
    </ng-template>
    <ng-template #content>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete transaction</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this transaction?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteTransactionConfirmed(transaction.id)">Delete</button>
      </div>
    </ng-template>
  </ng-container>
</div>

