@import 'bootstrap/dist/css/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --primary-color: #178768;
  --secondary-color: #f2ce80;
  --white: #e5ebe7;
  --black: #121313;
}

